command: [
  "uvicorn",
  "server.app:app"
]
env:
  - name: 'MLFLOW_TRACKING_URI'
    value: 'databricks'
  - name: 'MLFLOW_EXPERIMENT_ID'
    value: 'your-experiment-id'
  - name: 'LOW_ACCURACY_RESULTS_URL'
    value: 'placeholder-low-accuracy-url'
  - name: 'REGRESSION_RESULTS_URL'
    value: 'placeholder-regression-url'
  - name: 'METRICS_RESULT_URL'
    value: 'placeholder-metrics-url'
  - name: 'LLM_MODEL'
    value: 'placeholder-llm-model'
  - name: 'UC_CATALOG'
    value: 'placeholder-uc-catalog'
  - name: 'UC_SCHEMA'
    value: 'placeholder-uc-schema'
  - name: 'MLFLOW_ENABLE_ASYNC_TRACE_LOGGING'
    value: 'placeholder-async-logging'
  - name: 'PROMPT_NAME'
    value: 'placeholder-prompt-name'
  - name: 'PROMPT_ALIAS'
    value: 'placeholder-prompt-alias'
  - name: 'REGRESSION_BASELINE_RUN_ID'
    value: 'placeholder-regression-baseline-run-id'
  - name: 'FIX_QUALITY_BASELINE_RUN_ID'
    value: 'placeholder-fix-quality-baseline-run-id'
  - name: 'SAMPLE_LABELING_SESSION_ID'
    value: 'placeholder-sample-labeling-session-id'
  - name: 'SAMPLE_REVIEW_APP_URL'
    value: 'placeholder-sample-review-app-url'
  - name: 'SAMPLE_LABELING_TRACE_ID'
    value: 'placeholder-sample-labeling-trace-id'
  - name: 'SAMPLE_TRACE_ID'
    value: 'placeholder-sample-trace-id'
  - name: 'LHA_SOURCE_CODE_PATH'
    value: 'placeholder-lha-source-code-path'
  - name: 'NOTEBOOK_URL_1_observe_with_traces'
    value: 'placeholder-notebook-url-1'
  - name: 'NOTEBOOK_URL_2_create_quality_metrics'
    value: 'placeholder-notebook-url-2'
  - name: 'NOTEBOOK_URL_3_find_fix_quality_issues'
    value: 'placeholder-notebook-url-3'
  - name: 'NOTEBOOK_URL_4_human_review'
    value: 'placeholder-notebook-url-4'
  - name: 'NOTEBOOK_URL_5_production_monitoring'
    value: 'placeholder-notebook-url-5'
